#Progress_Status {
    width: 100%;
    background-color: #b32222;
  }
  
  #myprogressbar {
    height:10px;
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
  }
  
  .parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
  }