.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type=number] {
    height:50px;
    width: 50px;
    margin-right: 10px;
    text-align: center;
}

button {
    margin-left: 10px;
}

.button-container{
    display: flex;
}